<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15374067475-6aiu7v15tnsvgul56vsuek6kh9dnjg2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15374067475-6aiu7v15tnsvgul56vsuek6kh9dnjg2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBVXmlMvFLm_13TYDfarlLMNbUTOD9A_yY</string>
	<key>GCM_SENDER_ID</key>
	<string>15374067475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berivan.HastaRandevuSistemi</string>
	<key>PROJECT_ID</key>
	<string>hastane-randevu-sistemi-d1754</string>
	<key>STORAGE_BUCKET</key>
	<string>hastane-randevu-sistemi-d1754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15374067475:ios:15fad033338bb27f555ce6</string>
	<key>DATABASE_URL</key>
	<string>https://hastane-randevu-sistemi-d1754-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>